{% extends "base.html" %}

{% block content %}

    <h4 class="text-center m-3">{{tablename}}</h4>
    <table class="table table-striped">
        <tr>
            <td>{{ _1Query }}</td>
                <form method="GET" action="{{ url_for('blueprint.admin_1Query') }}">
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _2Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_2Query') }}">
                    <td><input name="2QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _3Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_3Query') }}">
                    <td><input name="3QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _4Query }}</td>
                <form method="GET" action="{{ url_for('blueprint.admin_4Query') }}">
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _5Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_5Query') }}">
                    <td><input name="5QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _6Query }}</td>
                <form method="GET" action="{{ url_for('blueprint.admin_6Query') }}">
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _7Query }}</td>
                <form method="GET" action="{{ url_for('blueprint.admin_7Query') }}">
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _8Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_8Query') }}">
                    <td><input name="8QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _9Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_9Query') }}">
                    <td><input name="9QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _10Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_10Query') }}">
                    <td><input name="10QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _11Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_11Query') }}">
                    <td><input name="11QueryName1" type="text"></td>
                    <td><input name="11QueryName2" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _12Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_12Query') }}">
                    <td><input name="12QueryName1" type="text"></td>
                    <td><input name="12QueryName2" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _13Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_13Query') }}">
                    <td><input name="13QueryName1" type="text"></td>
                    <td><input name="13QueryName2" type="text"></td>
                    <td><input name="13QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _14Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_14Query') }}">
                    <td><input name="14QueryName1" type="text"></td>
                    <td><input name="14QueryName2" type="text"></td>
                    <td><input name="14QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _15Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_15Query') }}">
                    <td><input name="15QueryName1" type="text"></td>
                    <td><input name="15QueryName2" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _16Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_16Query') }}">
                    <td><input name="16QueryName1" type="text"></td>
                    <td><input name="16QueryName2" type="text"></td>
                    <td><input name="16QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _17Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_17Query') }}">
                    <td><input name="17QueryName1" type="text"></td>
                    <td><input name="17QueryName2" type="text"></td>
                    <td><input name="17QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _18Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_18Query') }}">
                    <td><input name="18QueryName1" type="text"></td>
                    <td><input name="18QueryName2" type="text"></td>
                    <td><input name="18QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _19Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_19Query') }}">
                    <td><input name="19QueryName1" type="text"></td>
                    <td><input name="19QueryName2" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _20Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_20Query') }}">
                    <td><input name="20QueryName1" type="text"></td>
                    <td><input name="20QueryName2" type="text"></td>
                    <td><input name="20QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _21Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_21Query') }}">
                    <td><input name="21QueryName1" type="text"></td>
                    <td><input name="21QueryName2" type="text"></td>
                    <td><input name="21QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _22Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_22Query') }}">
                    <td><input name="22QueryName1" type="text"></td>
                    <td><input name="22QueryName2" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _23Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_23Query') }}">
                    <td><input name="23QueryName1" type="text"></td>
                    <td><input name="23QueryName2" type="text"></td>
                    <td><input name="23QueryName3" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _24Query }}</td>
                <form method="GET" action="{{ url_for('blueprint.admin_24Query') }}">
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _25Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_25Query') }}">
                    <td><input name="25QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
        <tr>
            <td>{{ _26Query }}</td>
                <form method="POST" action="{{ url_for('blueprint.admin_26Query') }}">
                    <td><input name="26QueryName" type="text"></td>
                    <td><input type="submit" value="Submit"></td>
                </form>
            </td>
        </tr>
    </table>
    <a href = "/">Go back to home page</a>

{% endblock %}