<style type="text/css">
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 2px solid green;
    }

</style>
{% extends "base.html" %}

{% block content %}
    <br>
    <form action="/producer">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <h2 class="text-center m-3">{{ tablenameProducer }}</h2>
    <table class="table table-striped">
        <thead>

        {% for nameProducer in namesProducer %}
            <td><strong>{{ nameProducer }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowProducer in rowsProducer %}
            <tr>
                {% for nameProducer in namesProducer %}
                    <td>{{ rowProducer[nameProducer] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_producer',
                      rowid=loop.index,
                      key=namesProducer[0],
                      table=tablenameProducer) }}">
                        <button type="submit" class="btn btn-outline-dark">UPD</button>
                    </form>
                </td>
                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key=namesProducer[0],
                      table=tablenameProducer) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>

    <br>
    <form action="/return_contract">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <h2 class="text-center m-3">{{ tablenameReturn_Contract }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameReturn_Contract in namesReturn_Contract %}
            <td><strong>{{ nameReturn_Contract }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowReturn_Contract in rowsReturn_Contract %}
            <tr>
                {% for nameReturn_Contract in namesReturn_Contract %}
                    <td>{{ rowReturn_Contract[nameReturn_Contract] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_contract',
                      rowid=loop.index,
                      key=namesReturn_Contract[0],
                      table=tablenameReturn_Contract) }}">
                        <button>UPD</button>
                    </form>
                </td>
                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key=namesReturn_Contract[0],
                      table=tablenameReturn_Contract) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>

    <br>
    <form action="/employee">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <h2 class="text-center m-3">{{ tablenameEmployee }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameEmployee in namesEmployee %}
            <td><strong>{{ nameEmployee }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowEmployee in rowsEmployee %}
            <tr>
                {% for nameEmployee in namesEmployee %}
                    <td>{{ rowEmployee[nameEmployee] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_employee',
                      rowid=loop.index,
                                            key=namesEmployee[0],

                      table=tablenameEmployee) }}">
                        <button>UPD</button>
                    </form>
                </td>
                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key=namesEmployee[0],
                      table=tablenameEmployee) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>

    <br>
    <form action="/consignment">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <h2 class="text-center m-3">{{ tablenameConsignment }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameConsignment in namesConsignment %}
            <td><strong>{{ nameConsignment }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowConsignment in rowsConsignment %}
            <tr>
                {% for nameConsignment in namesConsignment %}
                    <td>{{ rowConsignment[nameConsignment] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_consignment',
                      rowid=loop.index,
                       key=namesConsignment[0],
                      table=tablenameConsignment) }}">
                        <button>UPD</button>
                    </form>
                </td>

                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key=namesConsignment[0],
                      table=tablenameConsignment) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>

    <br>

    <h2 class="text-center m-3">{{ tablenameSale }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameSale in namesSale %}
            <td><strong>{{ nameSale }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowSale in rowsSale %}
            <tr>
                {% for nameSale in namesSale %}
                    <td>{{ rowSale[nameSale] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_customer',
                      rowid=loop.index,
                                            key=namesSale[0],

                      table=tablenameSale) }}">
                        <button>UPD</button>
                    </form>
                </td>

                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key=namesSale[0],
                      table=tablenameSale) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <form action="/">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <h2 class="text-center m-3">{{ tablenameCheque }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameCheque in namesCheque %}
            <td><strong>{{ nameCheque }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowCheque in rowsCheque %}
            <tr>
                {% for nameCheque in namesCheque %}
                    <td>{{ rowCheque[nameCheque] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_customer',
                      rowid=loop.index,
                                            key= namesCheque[0],

                      table=tablenameCheque) }}">
                        <button>UPD</button>
                    </form>
                </td>

                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key= namesCheque[0],
                      table=tablenameCheque) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>

    <form action="/product">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <br>
    <h2 class="text-center m-3">{{ tablenameProduct }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameProduct in namesProduct %}
            <td><strong>{{ nameProduct }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowProduct in rowsProduct %}
            <tr>
                {% for nameProduct in namesProduct %}
                    <td>{{ rowProduct[nameProduct] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_product',
                      rowid=loop.index,
                      key= namesProduct[0],
                      table=tablenameProduct) }}">
                        <button>UPD</button>
                    </form>
                </td>

                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key= namesProduct[0],
                      table=tablenameProduct) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>

    <form action="/">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <br>
    <h2 class="text-center m-3">{{ tablenameCategory }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameCategory in namesCategory %}
            <td><strong>{{ nameCategory }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowCategory in rowsCategory %}
            <tr>
                {% for nameCategory in namesCategory %}
                    <td>{{ rowCategory[nameCategory] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_category',
                       rowid=loop.index,
                       key= namesCategory[0],
                       table=tablenameCategory) }}">
                        <button>UPD</button>
                    </form>
                </td>

                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key= namesCategory[0],
                      table=tablenameCategory) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/store_product">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <h2 class="text-center m-3">{{ tablenameStore_Product }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameStore_Product in namesStore_Product %}
            <td><strong>{{ nameStore_Product }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowStore_Product in rowsStore_Product %}
            <tr>
                {% for nameStore_Product in namesStore_Product %}
                    <td>{{ rowStore_Product[nameStore_Product] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_store_product',
                      rowid=loop.index,
                      key= namesStore_Product[0],
                      table=tablenameStore_Product) }}">
                        <button>UPD</button>
                    </form>
                </td>

                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key= namesStore_Product[0],
                      table=tablenameStore_Product) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/customer">
        <button style="float: right; position: absolute" type="submit" class="btn btn-success center">ADD</button>
    </form>
    <h2 class="text-center m-3">{{ tablenameCustomer_Card }}</h2>
    <table class="table table-striped">
        <thead>
        {% for nameCustomer_Card in namesCustomer_Card %}
            <td><strong>{{ nameCustomer_Card }}</strong></td>
        {% endfor %}
        </thead>

        {% for rowCustomer_Card in rowsCustomer_Card %}
            <tr>
                {% for nameCustomer_Card in namesCustomer_Card %}
                    <td>{{ rowCustomer_Card[nameCustomer_Card] }}</td>
                {% endfor %}
                <td>
                    <form method=get
                          action="{{ url_for('blueprint.update_customer',
                      rowid=loop.index,
                      key= namesCustomer_Card[0],
                      table=tablenameCustomer_Card) }}">
                        <button>UPD</button>
                    </form>
                </td>
                <td>
                    <form method=post
                          action="{{ url_for('blueprint.delete',
                      rowid=loop.index0,
                      key= namesCustomer_Card[0],
                      table=tablenameCustomer_Card) }}">
                        <button type="submit" class="btn btn-danger">DEL</button>
                    </form>
                </td>

            </tr>

        {% endfor %}
    </table>

    <a href="/">Go back to home page</a>

{% endblock %}
