{% extends "base.html" %}
{% block content %}
    <h2>{%trans%}Admin Page{%endtrans%}</h2>
    <p><a href={{ url_for('blueprint.register_page') }}>{%trans%}Register{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.login_page') }}>{%trans%}Sign in{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.home_page') }}>{%trans%}Home Page{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.member_page') }}>{%trans%}Member Page{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.admin_page') }}>{%trans%}Admin Page{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.admin_view') }}>{%trans%}View{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.category') }}>{%trans%}Category{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.admin_allData') }}>{%trans%}All Data{%endtrans%}</a></p>
    <p><a href={{ url_for('blueprint.admin_queries') }}>{%trans%}Admin Queries{%endtrans%}</a></p>
    <p><a href={{ url_for('user.logout') }}>{%trans%}Sign out{%endtrans%}</a></p>
{% endblock %}
