{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}" role="alert">
          {{ message}}
</div>
{% endfor %}
<div class="container">
  <h3>{{ title }}</h3>
  <hr>
      <form action="" method="post">
           {{ form.hidden_tag() }}
    {{ form.employee.name }}
           {{ form.employee}}
          {{ form.card.name }}
    {{ form.card }}



    <div id="sales"></div>
          <hr>
          <button type="button" id="addNewItemButton">Add Field</button>
          <hr>
    {{ form.submit }}

    </form>
  <hr>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    let fieldNum = 0;
    $("#addNewItemButton").click(function() {
    let newInput = $("<textarea></textarea></br>")
        .attr("class", "form-control")
        .attr("id", "flist-" + fieldNum)
        .attr("name", "flist-" + fieldNum)
        .attr("rows", "3")
    $("#sales").append(`
<h5>Sale `+(fieldNum+1)+`</h5>
    <div class="form-group  required">
<label class="control-label" for="sales-`+fieldNum+`-upc_code">UPC: </label>
          <input class="form-control" id="sales-`+fieldNum+`-upc_code" name="sales-`+fieldNum+`-upc_code" required type="text" value="">
  </div>
    <div class="form-group  required"><label class="control-label" for="sales-`+fieldNum+`-quantity">Quantity: </label>
          <input class="form-control" id="sales-`+fieldNum+`-quantity" name="sales-`+fieldNum+`-quantity" required type="text" value="">
  </div>`);
    fieldNum++;
    });
    </script>
{% endblock %}