<style>
    @media print {
        body * {
            visibility: hidden;
        }

        #section-to-print, #section-to-print * {
            visibility: visible;
        }
    }
</style>
{% extends "base.html" %}
{% block content %}

    <h4 class="text-center m-3">{{ tablename }}</h4>
    <table class="table table-striped" id="section-to-print">
        <thead>
        {% for title in titles %}
            <td><strong>{{ title }}</strong></td>
        {% endfor %}
        </thead>

        {% for row in rows %}
            <tr>
                {% for title in titles %}
                    <td>{{ row[title] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <button type="button" class="btn btn-info center-block" onclick="window.print()">Print</button>

{% endblock %}
